@model TestApp.Models.ResViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Res</h2>

<div>
    <h4>SumViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.res)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
